<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="static/style.css">

  <title>{{ meta['title'][0] }}</title>
</head>
<body>
  <header>
    <h1>{{ meta['title'][0] }}</h1>
  </header>
  <hr>
  <main>
    <article>{{ content }}</article>
  </main>
  <hr>
  <footer>
    <p>Published by <a href="https://github.com/anqurvanillapy/postocol">Postocol</a>, indeed.</p>
  </footer>
</body>
</html>
